# NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
# NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
# NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDs2t5DXFF6Na_VQV1QzHCGRfiaNm9kUxw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=healthcare-ai-system-e46f1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=healthcare-ai-system-e46f1
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=healthcare-ai-system-e46f1.firebasestorage.app

NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=healthcare-ai-system-e46f1.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=875975433080
NEXT_PUBLIC_FIREBASE_APP_ID=1:875975433080:web:3031d9e3200d77aaf4468d

# NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDifhg56l2Fl1Wy4872lpwMVGVMFZH9vig
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=healthcare-39269.firebaseapp.com
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=healthcare-39269
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=healthcare-39269.firebasestorage.app
# NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=993678474312
# NEXT_PUBLIC_FIREBASE_APP_ID=1:993678474312:web:b39bf023a92c41af5aac7d


